@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import '@xipkg/tailwind/index.css';

@source "../src";
@source "../../../node_modules/@xipkg";

/* // Добавьте @source директивы для ваших пакетов здесь */
@source "../../../packages/common.ui/src";
@source "../../../packages/calls/src";
@source "../../../packages/calls.chat/src";
@source "../../../packages/calls/node_modules/@xipkg";
@source "../../../packages/common.ui/node_modules/@xipkg";

/* // @source "../../../packages/your-package/src"; */

/* app.css или globals.css */
html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
